parameters:
    level: 8

    paths:
        - src
        - config
        - tests

    ignoreErrors:
        # trust file_get_contents()
        - '#Parameter \#1 \$fileContents of method (.*?) expects string, string\|false given#'
