parameters:
    level: 8

    reportUnmatchedIgnoredErrors: false

    paths:
        - bin
        - src
        - config
        - tests

    ignoreErrors:
        # false posistive
        - '#Method TomasVotruba\\PunchCard\\ParameterTypeResolver::(.*?) never (.*?) so it can be removed from the return type#'

        # known value
        - '#Parameter \#1 \$commandName of method Symfony\\Component\\Console\\Application\:\:setDefaultCommand\(\) expects string, string\|null given#'
