parameters:
    level: 8

    paths:
        - bin
        - src
        - config
        - tests

    ignoreErrors:
        # false posistive
        - '#Method TomasVotruba\\PunchCard\\ParameterTypeResolver::resolveTypeFromFuncCall\(\) never (.*?) so it can be removed from the return type#'
